{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}PSUSphere{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ready.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<body>
    <div class="main-panel">
        {% block content %}{% endblock %}
    </div>

    <!-- JS -->
    <script src="{% static 'js/core/jquery.3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ready.min.js' %}"></script>
</body>
</html>