{% extends 'base.html' %}
{% load static %}
{% block title %}Home - PSUSphere{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Home</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">PSU Sphere</div>
                        <div class="card-category">App Dev Web Page</div>
                    </div>
                    <div class="card-body">Hello, World</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}